/elasticsearch
/EARL-master
/kbqa-relation-linking-master
/MLflow
/falcon2.0-master
/qanary_project
ngrok.exe
/DeepKE
/src
/my_relation_detection/DBpedia/tranformers_approach/all_items_short_list_BERT_base/
/my_relation_detection/DBpedia/tranformers_approach/BERT_base_uncased/
/my_relation_detection/Wikidata/
/my_relation_detection/DBpedia/tensorflow_approach/
